/**
 * Pygments Syntax Highlighting Themes
 * Light theme: SAS-inspired
 * Dark theme: VSCode Dark Modern-inspired
 */

/* Light theme */
.codehilite .hll { background-color: #ffffcc }
.codehilite .c { color: #008800; font-style: italic } /* Comment */
.codehilite .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.codehilite .k { color: #0000FF; font-weight: bold } /* Keyword */
.codehilite .o { color: #000000 } /* Operator */
.codehilite .ch { color: #008800; font-style: italic } /* Comment.Hashbang */
.codehilite .cm { color: #008800; font-style: italic } /* Comment.Multiline */
.codehilite .cp { color: #008800; font-weight: bold } /* Comment.Preproc */
.codehilite .cpf { color: #008800; font-style: italic } /* Comment.PreprocFile */
.codehilite .c1 { color: #008800; font-style: italic } /* Comment.Single */
.codehilite .cs { color: #008800; font-weight: bold; font-style: italic } /* Comment.Special */
.codehilite .gd { color: #b31d28; background-color: #ffeef0 } /* Generic.Deleted */
.codehilite .ge { font-style: italic } /* Generic.Emph */
.codehilite .gr { color: #b31d28 } /* Generic.Error */
.codehilite .gh { color: #0000FF; font-weight: bold } /* Generic.Heading */
.codehilite .gi { color: #22863a; background-color: #f0fff4 } /* Generic.Inserted */
.codehilite .go { color: #888888 } /* Generic.Output */
.codehilite .gp { color: #0000FF; font-weight: bold } /* Generic.Prompt */
.codehilite .gs { font-weight: bold } /* Generic.Strong */
.codehilite .gu { color: #0000FF; font-weight: bold } /* Generic.Subheading */
.codehilite .gt { color: #b31d28 } /* Generic.Traceback */
.codehilite .kc { color: #0000FF; font-weight: bold } /* Keyword.Constant */
.codehilite .kd { color: #0000FF; font-weight: bold } /* Keyword.Declaration */
.codehilite .kn { color: #0000FF; font-weight: bold } /* Keyword.Namespace */
.codehilite .kp { color: #0000FF } /* Keyword.Pseudo */
.codehilite .kr { color: #0000FF; font-weight: bold } /* Keyword.Reserved */
.codehilite .kt { color: #0000FF } /* Keyword.Type */
.codehilite .m { color: #0000FF } /* Literal.Number */
.codehilite .s { color: #BA2121 } /* Literal.String */
.codehilite .na { color: #0000FF } /* Name.Attribute */
.codehilite .nb { color: #0000FF } /* Name.Builtin */
.codehilite .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.codehilite .no { color: #0000FF } /* Name.Constant */
.codehilite .nd { color: #AA22FF } /* Name.Decorator */
.codehilite .ni { color: #000000 } /* Name.Entity */
.codehilite .ne { color: #0000FF; font-weight: bold } /* Name.Exception */
.codehilite .nf { color: #0000FF } /* Name.Function */
.codehilite .nl { color: #0000FF } /* Name.Label */
.codehilite .nn { color: #0000FF } /* Name.Namespace */
.codehilite .nt { color: #22863a } /* Name.Tag */
.codehilite .nv { color: #000000 } /* Name.Variable */
.codehilite .ow { color: #0000FF; font-weight: bold } /* Operator.Word */
.codehilite .w { color: #bbbbbb } /* Text.Whitespace */
.codehilite .mb { color: #0000FF } /* Literal.Number.Bin */
.codehilite .mf { color: #0000FF } /* Literal.Number.Float */
.codehilite .mh { color: #0000FF } /* Literal.Number.Hex */
.codehilite .mi { color: #0000FF } /* Literal.Number.Integer */
.codehilite .mo { color: #0000FF } /* Literal.Number.Oct */
.codehilite .sa { color: #BA2121 } /* Literal.String.Affix */
.codehilite .sb { color: #BA2121 } /* Literal.String.Backtick */
.codehilite .sc { color: #BA2121 } /* Literal.String.Char */
.codehilite .dl { color: #BA2121 } /* Literal.String.Delimiter */
.codehilite .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.codehilite .s2 { color: #BA2121 } /* Literal.String.Double */
.codehilite .se { color: #BA2121; font-weight: bold } /* Literal.String.Escape */
.codehilite .sh { color: #BA2121 } /* Literal.String.Heredoc */
.codehilite .si { color: #BA2121 } /* Literal.String.Interpol */
.codehilite .sx { color: #BA2121 } /* Literal.String.Other */
.codehilite .sr { color: #BA2121 } /* Literal.String.Regex */
.codehilite .s1 { color: #BA2121 } /* Literal.String.Single */
.codehilite .ss { color: #0000FF } /* Literal.String.Symbol */
.codehilite .bp { color: #0000FF } /* Name.Builtin.Pseudo */
.codehilite .fm { color: #0000FF } /* Name.Function.Magic */
.codehilite .vc { color: #000000 } /* Name.Variable.Class */
.codehilite .vg { color: #000000 } /* Name.Variable.Global */
.codehilite .vi { color: #000000 } /* Name.Variable.Instance */
.codehilite .vm { color: #0000FF } /* Name.Variable.Magic */
.codehilite .il { color: #0000FF } /* Literal.Number.Integer.Long */

/* Dark theme */
[data-theme="dark"] .codehilite .hll { background-color: #264f78 }
[data-theme="dark"] .codehilite .c { color: #6A9955; font-style: italic } /* Comment */
[data-theme="dark"] .codehilite .err { color: #F44747 } /* Error */
[data-theme="dark"] .codehilite .k { color: #569CD6 } /* Keyword */
[data-theme="dark"] .codehilite .o { color: #D4D4D4 } /* Operator */
[data-theme="dark"] .codehilite .ch { color: #6A9955; font-style: italic } /* Comment.Hashbang */
[data-theme="dark"] .codehilite .cm { color: #6A9955; font-style: italic } /* Comment.Multiline */
[data-theme="dark"] .codehilite .cp { color: #C586C0 } /* Comment.Preproc */
[data-theme="dark"] .codehilite .cpf { color: #6A9955; font-style: italic } /* Comment.PreprocFile */
[data-theme="dark"] .codehilite .c1 { color: #6A9955; font-style: italic } /* Comment.Single */
[data-theme="dark"] .codehilite .cs { color: #6A9955; font-style: italic } /* Comment.Special */
[data-theme="dark"] .codehilite .gd { color: #F44747 } /* Generic.Deleted */
[data-theme="dark"] .codehilite .ge { font-style: italic } /* Generic.Emph */
[data-theme="dark"] .codehilite .gr { color: #F44747 } /* Generic.Error */
[data-theme="dark"] .codehilite .gh { color: #569CD6; font-weight: bold } /* Generic.Heading */
[data-theme="dark"] .codehilite .gi { color: #6A9955 } /* Generic.Inserted */
[data-theme="dark"] .codehilite .go { color: #808080 } /* Generic.Output */
[data-theme="dark"] .codehilite .gp { color: #569CD6; font-weight: bold } /* Generic.Prompt */
[data-theme="dark"] .codehilite .gs { font-weight: bold } /* Generic.Strong */
[data-theme="dark"] .codehilite .gu { color: #569CD6 } /* Generic.Subheading */
[data-theme="dark"] .codehilite .gt { color: #F44747 } /* Generic.Traceback */
[data-theme="dark"] .codehilite .kc { color: #569CD6 } /* Keyword.Constant */
[data-theme="dark"] .codehilite .kd { color: #569CD6 } /* Keyword.Declaration */
[data-theme="dark"] .codehilite .kn { color: #C586C0 } /* Keyword.Namespace */
[data-theme="dark"] .codehilite .kp { color: #569CD6 } /* Keyword.Pseudo */
[data-theme="dark"] .codehilite .kr { color: #569CD6 } /* Keyword.Reserved */
[data-theme="dark"] .codehilite .kt { color: #4EC9B0 } /* Keyword.Type */
[data-theme="dark"] .codehilite .m { color: #B5CEA8 } /* Literal.Number */
[data-theme="dark"] .codehilite .s { color: #CE9178 } /* Literal.String */
[data-theme="dark"] .codehilite .na { color: #9CDCFE } /* Name.Attribute */
[data-theme="dark"] .codehilite .nb { color: #DCDCAA } /* Name.Builtin */
[data-theme="dark"] .codehilite .nc { color: #4EC9B0 } /* Name.Class */
[data-theme="dark"] .codehilite .no { color: #4FC1FF } /* Name.Constant */
[data-theme="dark"] .codehilite .nd { color: #DCDCAA } /* Name.Decorator */
[data-theme="dark"] .codehilite .ni { color: #D4D4D4 } /* Name.Entity */
[data-theme="dark"] .codehilite .ne { color: #4EC9B0 } /* Name.Exception */
[data-theme="dark"] .codehilite .nf { color: #DCDCAA } /* Name.Function */
[data-theme="dark"] .codehilite .nl { color: #9CDCFE } /* Name.Label */
[data-theme="dark"] .codehilite .nn { color: #4EC9B0 } /* Name.Namespace */
[data-theme="dark"] .codehilite .nt { color: #569CD6 } /* Name.Tag */
[data-theme="dark"] .codehilite .nv { color: #9CDCFE } /* Name.Variable */
[data-theme="dark"] .codehilite .ow { color: #569CD6 } /* Operator.Word */
[data-theme="dark"] .codehilite .w { color: #D4D4D4 } /* Text.Whitespace */
[data-theme="dark"] .codehilite .mb { color: #B5CEA8 } /* Literal.Number.Bin */
[data-theme="dark"] .codehilite .mf { color: #B5CEA8 } /* Literal.Number.Float */
[data-theme="dark"] .codehilite .mh { color: #B5CEA8 } /* Literal.Number.Hex */
[data-theme="dark"] .codehilite .mi { color: #B5CEA8 } /* Literal.Number.Integer */
[data-theme="dark"] .codehilite .mo { color: #B5CEA8 } /* Literal.Number.Oct */
[data-theme="dark"] .codehilite .sa { color: #CE9178 } /* Literal.String.Affix */
[data-theme="dark"] .codehilite .sb { color: #CE9178 } /* Literal.String.Backtick */
[data-theme="dark"] .codehilite .sc { color: #CE9178 } /* Literal.String.Char */
[data-theme="dark"] .codehilite .dl { color: #CE9178 } /* Literal.String.Delimiter */
[data-theme="dark"] .codehilite .sd { color: #CE9178; font-style: italic } /* Literal.String.Doc */
[data-theme="dark"] .codehilite .s2 { color: #CE9178 } /* Literal.String.Double */
[data-theme="dark"] .codehilite .se { color: #D7BA7D } /* Literal.String.Escape */
[data-theme="dark"] .codehilite .sh { color: #CE9178 } /* Literal.String.Heredoc */
[data-theme="dark"] .codehilite .si { color: #9CDCFE } /* Literal.String.Interpol */
[data-theme="dark"] .codehilite .sx { color: #CE9178 } /* Literal.String.Other */
[data-theme="dark"] .codehilite .sr { color: #D16969 } /* Literal.String.Regex */
[data-theme="dark"] .codehilite .s1 { color: #CE9178 } /* Literal.String.Single */
[data-theme="dark"] .codehilite .ss { color: #CE9178 } /* Literal.String.Symbol */
[data-theme="dark"] .codehilite .bp { color: #9CDCFE } /* Name.Builtin.Pseudo */
[data-theme="dark"] .codehilite .fm { color: #DCDCAA } /* Name.Function.Magic */
[data-theme="dark"] .codehilite .vc { color: #9CDCFE } /* Name.Variable.Class */
[data-theme="dark"] .codehilite .vg { color: #9CDCFE } /* Name.Variable.Global */
[data-theme="dark"] .codehilite .vi { color: #9CDCFE } /* Name.Variable.Instance */
[data-theme="dark"] .codehilite .vm { color: #9CDCFE } /* Name.Variable.Magic */
[data-theme="dark"] .codehilite .il { color: #B5CEA8 } /* Literal.Number.Integer.Long */
